/*POLICE*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
/*GENERAL*/
*, ::before, ::after {
  box-sizing: border-box;
}

body, html {
  font-family: "Roboto", "sans serif";
  margin: 0;
  padding: 0;
  background: #fafafa;
}
body h1, html h1 {
  font-family: "Shrikhand", "sans serif";
}
body a, html a {
  text-decoration: none;
  color: inherit;
}

/*HEADER*/
header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0 3px 3px 1px grey;
  padding: 3px;
  margin: 0;
  position: relative;
  font-weight: 900;
  font-size: 20px;
}
header a {
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  left: 45px;
}

/*MAIN*/
.city {
  background-color: #f3f3f3;
  text-align: center;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  padding: 8px;
}

/* TITLE */
.main_title {
  text-align: center;
  margin-top: 60px;
  /* BUTTON */
}
.main_title h2 {
  margin-top: 16px;
  font-size: 28px;
}
.main_title p {
  font-size: 24px;
  font-weight: 300;
}
.main_title button {
  margin-top: 10px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  font-weight: 400;
  font-size: 22px;
  padding: 16px 32px;
  box-shadow: 2px 3px 13px -1px #000;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.main_title button:hover {
  transform: scale(1.03);
  transition: all 200ms;
  opacity: 0.9;
}

.functioning {
  counter-reset: number;
  margin: 120px 0 0 0;
  padding: 50px 30px 100px 30px;
  background: white;
}
.functioning ol {
  display: flex;
  gap: 30px;
}
@media (max-width: 1000px) {
  .functioning ol {
    flex-direction: column;
    padding-left: 0;
  }
}
.functioning li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  background-color: rgba(167, 167, 167, 0.431372549);
  padding: 20px 20px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 3px 13px -1px #000;
}
.functioning li::before {
  content: counter(number);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  counter-increment: number;
  color: white;
  background-color: #9356DC;
  padding: 10px;
  border-radius: 50%;
}
.functioning li:hover {
  transform: scale(1.03);
}
.functioning i.fas {
  margin-right: 16px;
  background-color: rgba(167, 167, 167, 0.431372549);
  font-size: 28px;
}

.menus {
  flex-basis: 33%;
}
@media (max-width: 800px) {
  .menus {
    columns: 1fr;
    margin: 0;
    padding: 0 40px;
    background: var(rgba(167, 167, 167, 0.431372549));
  }
  .menus .menus_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 0 30px;
  }
}
@media (max-width: 800px) and (max-width: 800px) {
  .menus .menus_cards {
    margin: 0;
  }
}
@media (max-width: 800px) {
  .menus .menus_cards .new {
    position: relative;
  }
}
@media (max-width: 800px) {
  .menus .menus_cards .new::before {
    content: "Nouveau";
    position: absolute;
    height: 30px;
    width: 80px;
    background: #99e2d0;
    display: grid;
    place-items: center;
    right: 15px;
    top: 15px;
  }
}
@media (max-width: 800px) {
  .menus .card {
    box-shadow: 2px 3px 13px -1px #000;
    margin-bottom: 20px;
    position: relative;
    height: 350px;
    width: 400px;
    flex-grow: 1;
    min-width: 300px;
    background-color: white;
    border-radius: 30px;
    position: relative;
  }
  .menus .card img {
    height: 260px;
    width: 100%;
    object-position: center;
    border-radius: 20px 20px 0 0;
  }
  .menus .card h3, .menus .card p {
    padding-left: 15px;
    margin-top: 12px;
    color: black;
    text-decoration: none;
  }
  .menus .card p {
    margin-top: -15px;
  }
  .menus .card i {
    font-size: 30px;
    position: absolute;
    top: 285px;
    right: 15px;
  }
  .menus .card i.fas {
    background-clip: text;
    background-image: linear-gradient(to top, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: all 300ms;
  }
  .menus .card i.fas:hover {
    opacity: 1;
    transform: scale(1.13);
  }
}

footer {
  background-color: rgb(87, 87, 87);
  padding: 20px;
  margin-top: 80px;
}
footer h2 {
  font-family: "Shrikhand", "sans serif";
  font-size: 28px;
  color: white;
  margin-top: 10px;
}
footer i {
  padding-right: 10px;
  cursor: pointer;
  color: white;
}
footer p {
  cursor: pointer;
  width: 45%;
  color: white;
}

.category1 {
  opacity: 0;
  animation: anim 1s linear forwards 3s;
}

.category2 {
  opacity: 0;
  animation: anim 1s linear forwards 3.5s;
}

.category3 {
  opacity: 0;
  animation: anim 1s linear forwards 4s;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
.loader {
  position: fixed;
  background: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 400ms 2.3s forwards;
  display: grid;
  place-items: center;
}
.loader .gif-loader {
  height: 100vh;
  width: 100%;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

#menu_restaurant .title_menu_restaurant {
  position: relative;
}
#menu_restaurant .title_menu_restaurant h2 {
  font-family: "Shrikhand", "sans serif";
}
#menu_restaurant .title_menu_restaurant i {
  font-size: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
}
#menu_restaurant .title_menu_restaurant i.fas {
  background-clip: text;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 300ms;
}
#menu_restaurant .title_menu_restaurant i.fas:hover {
  opacity: 1;
  transform: scale(1.13);
}

.menus {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 800px) {
  .menus {
    grid-template-columns: 1fr;
  }
}
.menus .menu-item {
  display: flex;
  background-color: white;
  border-radius: 20px;
  margin: 20px 20px 20px 0;
  height: 70px;
  overflow: hidden;
  box-shadow: 2px 3px 13px -1px #000;
  cursor: pointer;
}
.menus .menu-item .menu_price {
  margin-left: auto;
  font-weight: 900;
  padding: 20px 20px 0 0;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}
.menus .menu-item .menu_tick {
  background: #99e2d0;
  width: 55px;
  display: grid;
  place-items: center;
  margin-right: -56px;
}
.menus .menu-item .menu_tick i {
  display: grid;
  place-items: center;
  background: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: #99e2d0;
}
.menus .menu-item:hover .menu_tick {
  margin-right: 0;
}
.menus .menu_tick:hover {
  margin-right: 0;
}
.menus .menu_description {
  overflow: hidden;
  margin-top: -10px;
  padding: 0 10px;
}
.menus p {
  margin-top: -20px;
}
.menus .menu_price {
  margin-left: auto;
  font-weight: 900;
  padding: 20px;
  display: flex;
  align-items: flex-end;
}
.menus .menu_tick {
  background: #99e2d0;
  width: 45px;
  display: grid;
  place-items: center;
  margin-right: -46px;
}

.button {
  display: flex;
  justify-content: center;
  justify-items: center;
}
.button button {
  margin: 20px 0 50px 0;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  font-weight: 400;
  font-size: 22px;
  padding: 16px 52px;
  box-shadow: 2px 3px 13px -1px #000;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
.button :hover {
  transform: scale(1.03);
  transition: all 200ms;
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
