@import "../utils/box-shadow.scss";
img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}
#menu_restaurant{
    & i.far{
        padding-left: 97%;}
    .main_card{   
        column-count: 3;
    }
        .entree-1, .entree-2, .entree-3, .plat-1, .plat-2, .plat-3, .dessert-1, .dessert-2, .dessert-3{
            display: flex;
            border-radius: 20px;
            padding: 10px;
            margin-bottom: 20px;
            @include box-shadow;}
            .price{
                padding-left: 200px;
            }
}
