@import "../utils/box-shadow.scss";
@import "../utils/color.scss";


// loader

.category1 {
    opacity:0;
    animation: anim 1s linear forwards 3s;
}
.category2 {
    opacity:0;
    animation: anim 1s linear forwards 3.5s;
}
.category3 {
    opacity:0;
    animation: anim 1s linear forwards 4s;
}

@keyframes anim {
    0%  {opacity:0;}
    50% {opacity: 0.3}
    75% {opacity: 0.7}
    100% {opacity:1;}
}


.loader{
    position: fixed;
    background: #ffffff;
    height: 100%;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 400ms 2.3s forwards;
    display: grid;
    place-items: center;

    .gif-loader{
        height: 100vh;
        width: 100%;
    }
}
@keyframes disappear {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

img{
    width: 100%;
    height: 780px;
    object-fit: cover;
    object-position: bottom;
}
#menu_restaurant{
    position: relative;
    border-radius: 40px 40px 0 0;
    margin-top: -200px;
    background: white;
    .title_menu_restaurant{
        padding: 10px 0 0 20px;
        h2{
            font-family: "Shrikhand", "sans serif";
        }
        i{
            font-size: 30px;
            position: absolute;
            top: 50px;
            right: 15px;
            &.fas{
                background-image: linear-gradient(to top, $color-primary, $color-secondary);
                -webkit-background-clip: text;
                color: transparent;
                opacity: 0;
                transition: all 300ms;
            }
            &.fas:hover {
                opacity: 1;
                transform: scale(1.13);
            }
        }
    }   
}
.menus{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width:801px){
        margin-left: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width:1200px){
        margin-left: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
    .menu-item{
        display: flex;
        
        background-color: white;
        border-radius: 20px;
        margin: 20px 20px 20px 0;
        height: 70px;
        overflow: hidden;
        @include box-shadow;
        cursor: pointer;
    }
    
    .menu-item{
        .menu_price{
            margin-left: auto;
                  font-weight: 900;
                  padding: 20px 20px 0 0;
                  margin-bottom: 10px;
                  display: flex;
                  align-items: flex-end;
                  
                }
                .menu_tick{
                    background: $color-tertiary;
                    width: 55px;
                    display: grid;
                    place-items: center;
                    margin-right: -56px;
                    i{
                        display: grid;
                        place-items: center;
                        background: white;
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        color: $color-tertiary;
                    }
                }
                &:hover .menu_tick{
                    margin-right: 0;
                }
    }.menu_tick:hover {
        margin-right: 0;
    }
    
    .menu_description{
        overflow: hidden;
        margin-top: -10px;
        padding: 0 10px;
    }
    p{
        margin-top: -20px;
    }
    .menu_price{
        margin-left: auto;
      font-weight: 900;
      padding: 20px;
      display: flex;
      align-items: flex-end;
          
        }
        .menu_tick{
            background: $color-tertiary;
            width: 45px;
            display: grid;
            place-items: center;
            margin-right: -46px;
            
        }
}
.button{
    display: flex;
    justify-content: center;
    @media (min-width:801px){
        margin-top: 80px;
    }
    @media (min-width:1200px){
        width: 300%;
    }
    button{
        margin: 50px 0;
        background-image: linear-gradient(to top, $color-primary, $color-secondary);
        color: white;
        font-weight: 400;
        font-size: 22px;
        padding: 16px 52px;
        @include box-shadow;
        border: none;
        border-radius: 40px;
        cursor: pointer;
        @media (min-width:1200px){
            font-weight: 900;
            width: 80%;
            margin: 0 50px;
            height: 150%;
        }
    }
    & :hover{
        @include zoom;
        transition: all 200ms;
        opacity: 0.9;
    }
}