/*MAIN*/
.city{
    background-color: #f3f3f3;
    text-align: center;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    & h2{
        padding: 8px;
    }
}
