@import "../utils/zoom.scss";
@import "../utils/box-shadow.scss";
@import "../utils/color.scss";

.functioning{
    counter-reset: number;
    margin: 120px 0 0 0;
    padding: 50px 30px 100px 30px;
    background: white;

    & ol{
        display: flex;
        gap: 30px;
        @media(max-width:1000px) {
            flex-direction: column;
            padding-left: 0;
        }
    }
    & li{
        list-style-type: none;
        position: relative;
        cursor: pointer;
        &::before{
            content: counter(number) ;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left:-15px;
            counter-increment: number;
            color: white;
            background-color: $color-primary;
            padding: 10px;
            border-radius: 50%;
        }
        background-color: $light-grey;
        padding: 20px 20px;
        
        flex-grow: 1;
        border-radius: 16px;
        @include box-shadow;
        &:hover{
            @include zoom;
        }
    }
    & i.fas {
        margin-right: 16px;
        background-color: $light-grey;
        font-size: 28px;
    }
}
