@import "../utils/box-shadow.scss";
@import "../utils/color.scss";
@import "../utils/zoom.scss";



/* TITLE */
.main_title{
    text-align: center;
    & h2{
        margin-top: 16px;
        font-size: 28px;
    }
    & p{
        font-size: 14px;
    }
    /* BUTTON */
    & button{
        margin-top: 10px;
        background-image: linear-gradient(to top, $color-primary, $color-secondary);
        color: white;
        font-weight: 400;
        font-size: 22px;
        padding: 16px 32px;
        @include box-shadow;
        border: none;
        border-radius: 40px;
    }
    & button:hover{
        @include zoom;
        transition: all 200ms;
        opacity: 0.9;
    }
}